<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/layout.css' />
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/summernote.js"></script>
  <script src="/js/index.js"></script>

  </head>
  <body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2">
              <%- include nav %>
          </div>
          <div class="col-md-10">
              <ul class="list-group">
                    <% var categorys = ["品牌露出", "焦点图", "最新赛况", "精彩进球", "足球花边"]; %>
                    <% for(var i= 0; i < posts.length; i++ ) {
                        var category = +posts[i].category, type = +posts[i].type;
                    %>
                        <li class="list-group-item">
                            [<a href="/list?category=<%= category %>"><%= categorys[category] %></a>]
                            <% if( category > 0 && type == 0 ) { %>
                                <a href="/article?time=<%= posts[i].time %>"><%= posts[i].title %></a>
                                <a class="btn btn-default" href="/article?time=<%= posts[i].time %>">查看</a>
                            <% } else { %>
                                <%= posts[i].title %>
                            <% } %>
                            <a class="btn btn-default" href="/edit?time=<%= posts[i].time %>">编辑</a>
                            <a class="btn btn-default" href="/remove?time=<%= posts[i].time %>">删除</a></li>
                    <% } %>
              </ul>

              <%- include paging %>
          </div>
      </div>
  </div>
  </body>
</html>