<br />
<div>
    <% if (!isFirstPage) { %>
        <% if (cate) { %>

        <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>&category=<%= cate %>">上一页</a></span>
        <% } else { %>
        <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
        <% } %>
    <% } %>

    <% if (!isLastPage) { %>
        <% if (cate) { %>
        <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>&category=<%= cate %>">下一页</a></span>
        <% } else { %>
        <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
        <% } %>

    <% } %>
</div>